src/main/xsd/entity.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.mda.quintans.pt" targetNamespace="http://www.mda.quintans.pt" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="base.xsd"/>
	<xs:element name="entity">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="basic">
					<xs:sequence>
						<xs:element name="attributes" type="AttributeType"/>
						<xs:element name="associations" type="AssociationType" minOccurs="0"/>
                        <xs:element name="index" type="IndexType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="uniqueGroup" type="UniqueGroupType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="references" type="ReferencesType" minOccurs="0"/>
						<xs:element name="dao" type="DaoType" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="id" use="required"/>
					<xs:attribute name="readonly" type="xs:boolean" default="false"/>
                    <xs:attribute name="nested" type="xs:boolean" default="false"/>
					<xs:attribute name="exposedToRoles"/>
					<xs:attribute name="writingRoles"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
    <!-- INDEX -->
    <xs:complexType name="IndexType">
        <xs:complexContent>
            <xs:extension base="BaseType">
                <xs:sequence>
                    <xs:element name="member" type="IndexMemberType" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="id" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="IndexMemberType">
        <xs:complexContent>
            <xs:extension base="BaseType"/>
        </xs:complexContent>
    </xs:complexType>
	<!-- UNIQUE GROUP -->
	<xs:complexType name="UniqueGroupType">
		<xs:complexContent>
			<xs:extension base="BaseType">
				<xs:sequence>
					<xs:element name="member" type="UniqueGroupMemberType" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="id" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UniqueGroupMemberType">
		<xs:complexContent>
			<xs:extension base="BaseType"/>
		</xs:complexContent>
	</xs:complexType>
    <!-- constraint -->
    <xs:complexType name="ConstraintType">
        <xs:attribute name="target"/>
        <xs:attribute name="value" use="required"/>
        <xs:attribute name="parameter" type="xs:boolean" default="false"/>
    </xs:complexType>
	<!-- DAO -->
	<xs:complexType name="DaoType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="operation" type="DaoOperationType" minOccurs="0"/>
		</xs:choice>
	</xs:complexType>
	<!-- dao:operation -->
	<xs:complexType name="DaoOperationType">
		<xs:complexContent>
			<xs:extension base="BaseType">
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element name="custom" type="op_custom" minOccurs="0"/>
					<xs:element name="model" type="op_model" minOccurs="0"/>
					<xs:element name="string" type="op_string" minOccurs="0"/>
					<xs:element name="integer" type="op_integer" minOccurs="0"/>
                    <xs:element name="long" type="op_long" minOccurs="0"/>
					<xs:element name="boolean" type="op_boolean" minOccurs="0"/>
					<xs:element name="decimal" type="op_decimal" minOccurs="0"/>
					<xs:element name="currency" type="op_currency" minOccurs="0"/>
					<xs:element name="date" type="op_date" minOccurs="0"/>
					<xs:element name="time" type="op_time" minOccurs="0"/>
                    <xs:element name="datetime" type="op_datetime" minOccurs="0"/>
					<xs:element name="timestamp" type="op_timestamp" minOccurs="0"/>
				</xs:choice>
				<xs:attribute name="type"/>
				<xs:attribute name="single" type="xs:boolean" default="true"/>
				<xs:attribute name="paginate" type="xs:boolean" default="false"/>
				<xs:attribute name="roles"/>
				<xs:attribute name="behaviors"/>
                <xs:attribute name="transactional" type="xs:boolean" default="false"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OpBaseAttributeType">
		<xs:complexContent>
			<xs:extension base="BaseType">
				<xs:attribute name="single" type="xs:boolean" default="true"/>
				<xs:attribute name="nullable" type="xs:boolean" default="true"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="op_custom">
		<xs:complexContent>
			<xs:extension base="OpBaseAttributeType">
				<xs:attribute name="type" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="op_model">
		<xs:complexContent>
			<xs:extension base="OpBaseAttributeType">
				<xs:attribute name="type" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="op_string">
		<xs:complexContent>
			<xs:extension base="OpBaseAttributeType">
				<xs:attribute name="length" type="xs:integer"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="op_date">
		<xs:complexContent>
			<xs:extension base="OpBaseAttributeType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="op_time">
		<xs:complexContent>
			<xs:extension base="OpBaseAttributeType"/>
		</xs:complexContent>
	</xs:complexType>
    <xs:complexType name="op_datetime">
        <xs:complexContent>
            <xs:extension base="OpBaseAttributeType"/>
        </xs:complexContent>
    </xs:complexType>
	<xs:complexType name="op_timestamp">
		<xs:complexContent>
			<xs:extension base="OpBaseAttributeType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="op_decimal">
		<xs:complexContent>
			<xs:extension base="OpBaseAttributeType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="op_currency">
		<xs:complexContent>
			<xs:extension base="OpBaseAttributeType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="op_integer">
		<xs:complexContent>
			<xs:extension base="OpBaseAttributeType"/>
		</xs:complexContent>
	</xs:complexType>
    <xs:complexType name="op_long">
        <xs:complexContent>
            <xs:extension base="OpBaseAttributeType"/>
        </xs:complexContent>
    </xs:complexType>
	<xs:complexType name="op_boolean">
		<xs:complexContent>
			<xs:extension base="OpBaseAttributeType"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- ATTRIBUTES -->
	<xs:complexType name="AttributeType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="identity" type="ent_identity" minOccurs="0"/>
			<xs:element name="version" type="ent_version" minOccurs="0"/>
			<xs:element name="lov" type="ent_lov" minOccurs="0"/>
			<xs:element name="string" type="ent_string" minOccurs="0"/>
			<xs:element name="integer" type="ent_integer" minOccurs="0"/>
            <xs:element name="long" type="ent_long" minOccurs="0"/>
			<xs:element name="boolean" type="ent_boolean" minOccurs="0"/>
			<xs:element name="decimal" type="ent_decimal" minOccurs="0"/>
			<xs:element name="currency" type="ent_currency" minOccurs="0"/>
			<xs:element name="timestamp" type="ent_timestamp" minOccurs="0"/>
			<xs:element name="time" type="ent_time" minOccurs="0"/>
			<xs:element name="date" type="ent_date" minOccurs="0"/>
			<xs:element name="dateComposite" type="ent_dateComposite" minOccurs="0"/>
			<xs:element name="flags" type="ent_flags" minOccurs="0"/>
			<xs:element name="text" type="ent_text" minOccurs="0"/>
			<xs:element name="bin" type="ent_bin" minOccurs="0"/>
            <xs:element name="nested" type="ent_nested" minOccurs="0"/>
			<xs:element name="point" type="ent_point" minOccurs="0"/>
			<xs:element name="linestring" type="ent_linestring" minOccurs="0"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="BaseAttributeType">
		<xs:complexContent>
			<xs:extension base="BaseType">
		        <xs:sequence minOccurs="0" maxOccurs="unbounded">
		            <xs:element name="constraint" type="ConstraintType" minOccurs="0"/>
		        </xs:sequence>
				<xs:attribute name="key" type="xs:boolean" default="false"/>
				<xs:attribute name="unique" type="xs:boolean" default="false"/>
				<xs:attribute name="nullable" type="xs:boolean" default="true"/>
				<xs:attribute name="default"/>
				<xs:attribute name="length"/>
				<xs:attribute name="deleter" type="xs:boolean" default="false"/>
				<xs:attribute name="id" use="required"/>
				<xs:attribute name="behaviors"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GisAttributeType">
		<xs:complexContent>
			<xs:extension base="BaseAttributeType">
				<xs:attribute name="srid"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ent_dateComposite">
		<xs:complexContent>
			<xs:extension base="BaseAttributeType">
				<xs:sequence>
					<xs:element name="day" type="ent_integer" minOccurs="0"/>
					<xs:element name="month" type="ent_integer" minOccurs="0"/>
					<xs:element name="year" type="ent_integer"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ent_flags">
		<xs:complexContent>
			<xs:extension base="BaseAttributeType">
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element name="lov" type="flags_lov" minOccurs="0"/>
					<xs:element name="bool" type="flags_bool" minOccurs="0"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="flags_lov">
		<xs:complexContent>
			<xs:extension base="BaseAttributeType">
				<xs:attribute name="target" use="required"/>
				<xs:attribute name="position" type="xs:int" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="flags_bool">
		<xs:complexContent>
			<xs:extension base="BaseAttributeType">
				<xs:attribute name="trueValue" use="required"/>
				<xs:attribute name="falseValue" use="required"/>
				<xs:attribute name="position" type="xs:int" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ent_lov">
		<xs:complexContent>
			<xs:extension base="BaseAttributeType">
				<xs:attribute name="target" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ent_string">
		<xs:complexContent>
			<xs:extension base="BaseAttributeType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ent_identity">
		<xs:complexContent>
			<xs:extension base="BaseAttributeType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ent_version">
		<xs:complexContent>
			<xs:extension base="BaseAttributeType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ent_date">
		<xs:complexContent>
			<xs:extension base="BaseAttributeType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ent_time">
		<xs:complexContent>
			<xs:extension base="BaseAttributeType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ent_timestamp">
		<xs:complexContent>
			<xs:extension base="BaseAttributeType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ent_decimal">
		<xs:complexContent>
			<xs:extension base="BaseAttributeType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ent_currency">
		<xs:complexContent>
			<xs:extension base="BaseAttributeType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ent_integer">
		<xs:complexContent>
			<xs:extension base="BaseAttributeType"/>
		</xs:complexContent>
	</xs:complexType>
    <xs:complexType name="ent_long">
        <xs:complexContent>
            <xs:extension base="BaseAttributeType"/>
        </xs:complexContent>
    </xs:complexType>
	<xs:complexType name="ent_boolean">
		<xs:complexContent>
			<xs:extension base="BaseAttributeType">
				<xs:attribute name="format" type="boolType"/>
				<xs:attribute name="trueValue"/>
				<xs:attribute name="falseValue"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ent_text">
		<xs:complexContent>
			<xs:extension base="BaseAttributeType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ent_bin">
		<xs:complexContent>
			<xs:extension base="BaseAttributeType"/>
		</xs:complexContent>
	</xs:complexType>
    <xs:complexType name="ent_nested">
        <xs:complexContent>
            <xs:extension base="BaseAttributeType">
                <xs:attribute name="kind" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	<xs:simpleType name="boolType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="numeric"/>
			<xs:enumeration value="textual"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ent_point">
		<xs:complexContent>
			<xs:extension base="GisAttributeType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ent_linestring">
		<xs:complexContent>
			<xs:extension base="GisAttributeType"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- ASSOCIATIONS -->
	<xs:complexType name="AssociationType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="hasOne" type="HasOneType"/>
			<xs:element name="hasMany" type="HasManyType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="RelationType">
		<xs:attribute name="key" use="required"/>
		<xs:attribute name="foreign" use="required"/>
	</xs:complexType>
	<xs:simpleType name="FetchType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="LAZY"/>
			<xs:enumeration value="EAGER"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BaseAssociationType">
		<xs:complexContent>
			<xs:extension base="BaseType">
				<xs:attribute name="entity" use="required"/>
				<xs:attribute name="owner" type="xs:boolean" default="false"/>
				<xs:attribute name="cascade" type="xs:boolean" default="false"/>
				<xs:attribute name="weak" type="xs:boolean" default="false"/>
				<xs:attribute name="nullable" type="xs:boolean" default="true"/>
				<xs:attribute name="fetchType" type="FetchType"/>
				<xs:attribute name="navigate" type="xs:boolean" default="true"/>
				<xs:attribute name="id" use="required"/>
				<xs:attribute name="otherEnd"/>
				<xs:attribute name="noForeignKey" type="xs:boolean" default="false"/>
			</xs:extension>
			<!-- usado para identificar a associacao a partir do destino, qd existe mais do que uma associacao possivel de emparelhar -->
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SimpleAssociationType">
		<xs:complexContent>
			<xs:extension base="BaseAssociationType">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element name="relation" type="RelationType" minOccurs="0"/>
                    <xs:element name="constraint" type="ConstraintType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HasManyType">
		<xs:complexContent>
			<xs:extension base="SimpleAssociationType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HasOneType">
		<xs:complexContent>
			<xs:extension base="SimpleAssociationType"/>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
